.div {
  display: flex;
  flex-direction: column;

  input {
    height: 40px;
    border-radius: 30px;
    border: none;
    width: 100%;
    padding: 0px 13px;
    margin-top: 8px;
    background-color: var(--Gray-2);
    color: #868e96;

    &:focus {
      border: 4px solid var(--Color-primary);
    }
  }
  &:disabled {
    opacity: 0.5;
  }
}
