:root {
  --Color-primary: #4c6b2c;
  --Color-primary-Focus: #567c15;
  --Color-primary-Negative: #5a6c39;

  --Gray-0: #f8f9fa;
  --Gray-1: #868e96;
  --Gray-2: #343b41;
  --Gray-3: #212529;
  --Gray-4: #121214;

  --Color-Negative: #a62b1f;
  --Color-Sucess: #119b2f;

  --font-family: "Inter", sans-serif;
}
